1.What are data structures, and why are they important?
- A data structure is a way of organizing, storing, and managing data so that it can be accessed and modified efficiently. It defines the relationship between data, how the data is processed, and how it is stored in memory.
-Importance of Data Structures
1.Efficient Data Management - Helps store and organize data for quick access and modification.
2.Optimized Performance - Choosing the right data structure improves the efficiency of algorithms (e.g., searching, sorting).
3.Memory Management -  Helps in optimizing memory usage by structuring data effectively.

2.Explain the difference between mutable and immutable data types with examples?
- Property	Mutable Data Types	Immutable Data Types.
1.Definition -	Can be modified after creation	Cannot be modified after creation
2.Modification -	Changes occur in the same object	Any modification creates a new object
3.Memory Usage -	Efficient What are the main differences between lists and tuples in Python
4.threadSafety -	Not thread-safe	Thread-safe
Examples in Python	list, dict, set, bytearray	int, float, str, tuple, frozenset, bytes.

3.What are the main differences between lists and tuples in Python?
- Feature	List (list)	Tuple (tuple)
Mutability -	Mutable (can be changed)	Immutable (cannot be changed)
Syntax- Defined using [] (square brackets)	Defined using () (parentheses)
Performance -	Slower due to dynamic nature	Faster due to immutability
Memory Usage- Uses more memory	Uses less memory
Operations Allowed- Can modify (add, remove, update) elements	Cannot modify elements
Use Case- When frequent modifications are needed	When data should remain constant.

4.Describe how dictionaries store data?
- A dictionary (dict) in Python stores data as key-value pairs and provides fast lookups using hashing.
1. Dictionary Structure
A dictionary consists of:
-Keys (immutable types like int, str, tuple)
-Values (can be any data type).

5.Why might you use a set instead of a list in Python?
- A set in Python is an unordered collection of unique elements, whereas a list is an ordered collection that allows duplicates.
-Key Reasons to Use a Set Instead of a List
Feature	Set (set)	List (list)
Uniqueness	✅ Stores only unique elements	❌ Allows duplicates
Performance	✅ Faster membership testing (O(1))	❌ Slower membership testing (O(n))
Ordering	❌ Unordered	✅ Ordered
Mutability	✅ Mutable (can add/remove elements)	✅ Mutable
Duplicates Handling	✅ Automatically removes duplicates	❌ Manual removal needed
Use Case	When unique elements are required	When ordering & duplicates matter.

6.What is a string in Python, and how is it different from a list?
- Feature	String (str)	List (list)
Data Type	Stores characters	Stores any data type (numbers, strings, objects, etc.)
Mutability	Immutable (cannot be modified)	Mutable (can be modified)
Modification	Creating a new string is required	Elements can be changed in place
Indexing & Slicing	✅ Supports indexing & slicing	✅ Supports indexing & slicing
Iteration	✅ Can be iterated character by character	✅ Can be iterated element by element
Concatenation	Uses + to create a new string	Uses + or .append() to modify the list
Use Case	Storing and manipulating text	Storing collections of various elements.

7.How do tuples ensure data integrity in Python?
- A tuple in Python is an immutable sequence, meaning once it is created, it cannot be modified. This immutability provides several benefits in ensuring data integrity.
1. Immutability Prevents Unintended Changes
Unlike lists, tuples cannot be modified after creation.
-This prevents accidental overwrites, making data more secure and consistent.

8.What is a hash table, and how does it relate to dictionaries in Python?
- A hash table (or hash map) is a data structure that stores key-value pairs and enables fast lookups, insertions, and deletions using a hashing function.
How Does a Hash Table Work?
Hash Function:
Converts a key into a numerical hash value.
Example: hash("name") → 23456789
Index Mapping:
The hash value is mapped to an index in an underlying array.
Handling Collisions:
If two keys produce the same hash, Python uses open addressing (probing) to find the next available slot.

9.Can lists contain different data types in Python?
- yes! In Python, lists can store elements of different data types, including integers, floats, strings, booleans, objects, other lists, and even functions.

10.Explain why strings are immutable in Python?
- in Python, strings are immutable, meaning once created, they cannot be modified. If you try to change a string, Python creates a new string instead of modifying the original.
1. Memory Efficiency (String Interning)
Python internally optimizes memory usage by storing identical strings at the same location (string interning).

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries (dict) and lists (list) are both powerful data structures in Python, but dictionaries offer key advantages over lists for certain tasks.
1. Faster Lookups (O(1) vs O(n))
Dictionaries: Use hashing, so lookups are O(1) (constant time).
-Lists: Require O(n) time, as Python must scan elements one by one.

12. Describe a scenario where using a tuple would be preferable over a list?
- cenario: Storing GPS Coordinates (Latitude, Longitude)
Imagine you are developing a navigation system or mapping application where you need to store fixed GPS coordinates (latitude, longitude) for various locations.
✅ Why Use a Tuple?
Immutability: Coordinates should never change accidentally once set.
Faster Performance: Tuples are faster than lists for accessing elements.
Safe Dictionary Keys: Tuples can be used as keys in dictionaries, while lists cannot.

13.How do sets handle duplicate values in Python?
- In Python, sets automatically remove duplicate values because they are unordered collections of unique elements.
1. Sets Store Only Unique Elements
If you try to add duplicate values to a set, Python automatically removes the duplicates.

14.How does the “in” keyword work differently for lists and dictionaries?
- The in keyword is used to check if an element exists in a list or a dictionary, but it works differently for each data type.
1. in for Lists - Searches All Elements (O(n))
When using in with a list, Python checks each element one by one (linear search).
This means the time complexity is O(n) (slow for large lists).

15. Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify elements of a tuple in Python because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.
Why Are Tuples Immutable?
Memory Optimization - Tuples allow Python to optimize storage and improve performance.
Data Integrity -  Prevents accidental changes to data.
Hashability -  Tuples can be used as dictionary keys and set elements, unlike lists.

16.What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary. It allows you to store data in a hierarchical (structured) way.
use example:

In [1]:
students = {
    "Alice": {"age": 20, "grade": "A", "subjects": ["Math", "Science"]},
    "Bob": {"age": 22, "grade": "B", "subjects": ["History", "English"]},
}

# Accessing nested values
print(students["Alice"]["grade"])   # Output: A
print(students["Bob"]["subjects"])  # Output: ['History', 'English']

A
['History', 'English']

17.Describe the time complexity of accessing elements in a dictionary?
- In Python, dictionaries are implemented as hash tables, making element access extremely fast.
1. Average Case: O(1) (Constant Time)
Dictionaries use hashing, so key lookups are O(1) on average.
-This means that no matter how large the dictionary is, accessing an element takes roughly the same amount of time.

18.In what situations are lists preferred over dictionaries?
- While dictionaries are great for fast lookups and structured data, lists are better in certain situations. Here are key cases where lists are preferred over dictionaries:
1. Maintaining Order (Before Python 3.7)
Lists preserve the order of elements naturally.
Dictionaries (before Python 3.7) didn't guarantee order.
If order is important, a list is often the better choice

19.Why are dictionaries considered unordered, and how does that affect data retrieval?
- . Dictionaries Were Traditionally Unordered
In Python versions before 3.7, dictionaries did not maintain the order of inserted key-value pairs.
They used hash tables, meaning the order of elements was based on the internal hashing mechanism, not insertion order.
2. Python 3.7+ Maintains Insertion Order
Starting from Python 3.7, dictionaries retain insertion order, meaning elements are retrieved in the order they were added.
In Python 3.6, this behavior was present but was considered an implementation detail, not a guarantee.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
- 1. Data Retrieval in a List (O(n))
Lists store elements sequentially (indexed by position).
To retrieve an element, you use index-based access (O(1)).
Searching for an element without knowing its index requires scanning the list .
2.Data Retrieval in a Dictionary (O(1))
Dictionaries store data as key-value pairs.
Retrieval is done by keys, not indexes.
Fast lookups (O(1)) due to hash-based indexing.

1.Write a code to create a string with your name and print it?

In [2]:
name = "Chandra Kant Sharma"

print(name)

Chandra Kant Sharma

2.Write a code to find the length of the string "Hello World"?

In [3]:
text = "Hello World"

length = len(text)

print("Length of the string:", length)

Length of the string: 11

3.Write a code to slice the first 3 characters from the string "Python Programming"?

In [4]:
text = "Python Programming"

first_three_chars = text[:3]

print("First 3 characters:", first_three_chars)

First 3 characters: Pyt

4.Write a code to convert the string "hello" to uppercase?

In [5]:
text = "hello"

uppercase_text = text.upper()

print("Uppercase string:", uppercase_text)

Uppercase string: HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?

In [6]:
text = "I like apple"

new_text = text.replace("apple", "orange")

print(new_text)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it?

In [7]:
numbers = [1, 2, 3, 4, 5]

print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [8]:
numbers = [1, 2, 3, 4]

numbers.append(10)

print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?

In [9]:
numbers = [1, 2, 3, 4, ]
numbers.remove(3)

print("Updated list:", numbers)

Updated list: [1, 2, 4]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']?

In [10]:
letters = ['a', 'b', 'c', 'd']

second_element = letters[1]

print("Second element:", second_element)

Second element: b

10.Write a code to reverse the list [10, 20, 30, 40, 50]?

In [11]:
numbers = [10, 20, 30, 40, 50]

numbers.reverse()

print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

 11.Write a code to create a tuple with the elements 100, 200, 300 and print it.?

In [12]:
my_tuple = (100, 200, 300)

print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

12.. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').?

In [13]:
colors = ('red', 'green', 'blue', 'yellow')

second_to_last = colors[-2]

print("Second-to-last element:", second_to_last)

Second-to-last element: blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)?

In [14]:
numbers = (10, 20, 5, 15)

min_number = min(numbers)

print("Minimum number:", min_number)

Minimum number: 5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').?

In [15]:
animals = ('dog', 'cat', 'rabbit')

index_of_cat = animals.index('cat')

print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.?

In [16]:
fruits = ("apple", "banana", "cherry")

is_kiwi_present = "kiwi" in fruits

print("Is 'kiwi' in the tuple?", is_kiwi_present)

Is 'kiwi' in the tuple? False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
my_set = {'a', 'b', 'c'}

print("Set:", my_set)

Set: {'a', 'b', 'c'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}?

In [18]:
numbers = {1, 2, 3, 4, 5}

numbers.clear()

print("Set after clearing:", numbers)

Set after clearing: set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.?

In [19]:
numbers = {1, 2, 3, 4}

numbers.remove(4)
print("Set after removing 4:", numbers)

Set after removing 4: {1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)

print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.?

In [21]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)

print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it?

In [22]:
person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.?

In [23]:
person = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

print("Dictionary:", person)

Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.?

In [24]:
person = {'name': 'Alice', 'age': 30}

name_value = person['name']

print("Name:", name_value)

Name: Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.?

In [25]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
removed_value = person.pop('age')

print("Updated dictionary:", person)

print("Removed value:", removed_value)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}
Removed value: 22

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.?

In [26]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.?

In [27]:
my_list = [1, 2, 3, 4, 5]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "Paris"
}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)?

In [28]:
import random

random_numbers = random.sample(range(1, 101), 5)

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [6, 15, 72, 73, 79]

28. Write a code to create a list with strings and print the element at the third index?

In [29]:
fruits = ["apple", "banana", "cherry", "mango", "orange"]

print("Element at index 3:", fruits[3])

Element at index 3: mango

29. Write a code to combine two dictionaries into one and print the result.?

In [30]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

dict1.update(dict2)

print("Combined Dictionary:", dict1)

Combined Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.?

In [31]:
fruits = ["apple", "banana", "cherry", "apple", "banana"]

fruits_set = set(fruits)

print("Set of unique strings:", fruits_set)

Set of unique strings: {'apple', 'cherry', 'banana'}